In [2]:
import pandas as pd

reviews = pd.read_csv("winemag-data_first150k.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [3]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

1. "description" sütununu seçin ve sonucu "desc" değişkenine atayın.

In [4]:
desc = reviews["description"]

2. "reviews"in description sütunundan ilk değeri seçin ve bunu "first_description" değişkenine atayın.

In [9]:
first_description = reviews["description"].iloc[0]

3. "reviews"den ilk veri satırını seçin ve bunu "first_row"  değişkenine atayın.

In [12]:
first_row = reviews.iloc[0]

4. "reviews"deki "description" sütunundan ilk 10 değeri seçin ve sonucu "first_descriptions" değişkenine atayın. Çıktınızı bir pandas serisi olarak biçimlendirin.

In [15]:
first_descriptions = reviews.loc[0:9, "description"]

5. "1", "2", "3", "5" ve "8" dizin etiketlerine sahip satırları seçin. Sonucu "sample_reviews" değişkenine atayın. Başka bir deyişle, aşağıdaki DataFrame'i oluşturun:

![](https://i.imgur.com/sHZvI1O.png)

In [18]:
sample_reviews = reviews.loc[[1,2,3,5,8], :]

6. "0", "1", "10" ve "100" dizin etiketlerine sahip kayıtların "country", "province", "region_1" ve "region_2" sütunlarını içeren bir "df" değişkeni oluşturun. 
Başka bir deyişle, aşağıdaki DataFrame'i oluşturun:

![](https://i.imgur.com/FUCGiKP.png)

In [21]:
df = reviews.loc[[0,1,10,100], ["country", "province", "region_1", "region_2"]]
df

    country            province     region_1     region_2
0        US          California  Napa Valley         Napa
1     Spain      Northern Spain         Toro          NaN
10    Italy  Northeastern Italy       Collio          NaN
100      US          California  South Coast  South Coast

7. İlk 100 kaydın "country" ve "variety" sütunlarını içeren bir "df" değişkeni oluşturun. "loc" veya "iloc" kullanabilirsiniz

In [24]:
df = reviews.loc[:99, ["country", "variety"]]

8. İtalya"da üretilen şarapların incelemelerini içeren bir DataFrame ("italian_wines") oluşturun.

In [29]:
italian_wines = reviews[reviews["country"] == "Italy"]

9. Avustralya veya Yeni Zelanda şarapları için en az 95 puan (100 üzerinden) olan tüm incelemeleri içeren bir DataFrame "top_oceania_wines" oluşturun.

In [58]:
top_oceania_wines = reviews[(reviews["country"].isin(["Australia", "New Zealand"])) & (reviews["points"]>=95)]